div#container
{
    width: 1300px;
    position: relative;
    margin: 0 auto 0 auto;
    text-align: left;
}
body
{
    background-color: #FFFFFF;
    color: #8C8C8C;
    font-family: "Futura Bk BT";
    font-size: 15px;
    margin: 0;
    text-align: center;
}

#logovime
{
    border: 0px #000000 solid;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#masterLayer1
{
    background-color: #FFFFFF;
}
#wb_masterCssMenu1
{
    border: 0px #C0C0C0 solid;
    background-color: transparent;
}
#wb_masterCssMenu1 ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#wb_masterCssMenu1 li
{
    float: left;
    margin: 0;
    padding: 0px 15px 0px 0px;
}
#wb_masterCssMenu1 a
{
    display: block;
    float: left;
    color: #7FD9C3;
    border: 0px #C0C0C0 solid;
    background-color: transparent;
    background-image: none;
    font-family: "Futura Bk BT";
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    height: 28px;
    line-height: 28px;
    padding: 0px 5px 0px 5px;
    vertical-align: middle;
    text-align: center;
}
#wb_masterCssMenu1 li:hover a, #wb_masterCssMenu1 a:hover, #wb_masterCssMenu1 .active
{
    color: #1E988A;
    background-color: transparent;
    background-image: none;
    border: 0px #C0C0C0 solid;
}
#wb_masterCssMenu1 li.firstmain
{
    padding-left: 0px;
}
#wb_masterCssMenu1 li.lastmain
{
    padding-right: 0px;
}
#wb_masterCssMenu1 br
{
    clear: both;
    font-size: 1px;
    height: 0;
    line-height: 0;
}
#wb_masterCssMenu2
{
    border: 0px #C0C0C0 solid;
    background-color: transparent;
}
#wb_masterCssMenu2 ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
}
#wb_masterCssMenu2 li
{
    float: left;
    margin: 0;
    padding: 0px 15px 0px 0px;
}
#wb_masterCssMenu2 a
{
    display: block;
    float: left;
    color: #7FD9C3;
    border: 0px #C0C0C0 solid;
    background-color: transparent;
    background-image: none;
    font-family: "Futura Bk BT";
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    height: 28px;
    line-height: 28px;
    padding: 0px 5px 0px 5px;
    vertical-align: middle;
    text-align: center;
}
#wb_masterCssMenu2 li:hover a, #wb_masterCssMenu2 a:hover
{
    color: #1E988A;
    background-color: transparent;
    background-image: none;
    border: 0px #C0C0C0 solid;
}
#wb_masterCssMenu2 li.firstmain
{
    padding-left: 0px;
}
#wb_masterCssMenu2 li.lastmain
{
    padding-right: 0px;
}
#wb_masterCssMenu2 br
{
    clear: both;
    font-size: 1px;
    height: 0;
    line-height: 0;
}
#masterLayer2
{
    background-color: #FFFFFF;
}

.texto {
    color:#888888;
    font-family:'futura bk bt';
    font-size: 15px;
    -webkit-font-smoothing: auto !important;
    -moz-osx-font-smoothing: auto !important;
}

#pagosLayer3 {
    background-color: #D7F7F4;
}

#pagosLayer3_Container {
    padding-top: 91px;
    vertical-align: top;
}

#wb_pagosText1 {
    display: inline-block;
    text-align: right;
    vertical-align: top;
}

#wb_pagosText2 {
    display: inline-block;
    margin-left: 45px;
    vertical-align: top;
}

#pagosImage1
{
    border: 0px #000000 solid;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}




@charset "US-ASCII";
.bkng-tb-cntnt * {
    color: #444;
    font-family: "Futura Bk BT";
    font-size: 16px;
    font-weight: 300;
}
::-webkit-input-placeholder {
    font-size: 14px;
}
:-moz-placeholder {
    font-size: 14px;
}
::-moz-placeholder {
    font-size: 14px;
}
:-ms-input-placeholder {
    font-size: 14px;
}

strong {
    font-weight: 700;
}
.bkng-tb-cntnt a {
    cursor: pointer;
    display: block;
    text-decoration: none;
}
.bkng-tb-cntnt button {
    background: #FF558F;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-style: none;
    color: #fff;
    display: table;
    font-size: 18px;
    font-weight: 400;
    outline: none;
    padding: 5px 20px;
    text-align: center;
    width: auto;
}
.bkng-tb-cntnt button.disabled {
    background: #ccc;
    cursor: default;
}
.bkng-tb-cntnt {
    display: inline-block;
    margin-bottom: 25px;
    margin-top: 70px;
    width: 800px;
}
.pymnts {
    float: left;
    width: 800px;
}
.pymnts .pymnt-itm *{
    float: left;
}

.sctn-row {
    margin-bottom: 35px;
    width: 800px;
}
.sctn-col {
    width: 375px;
}
.sctn-col.l {
    width: 425px;
}
.sctn-col input {
    border: 1px solid #ccc;
    font-size: 18px;
    line-height: 24px;
    padding: 10px 12px;
    width: 333px;
}
.sctn-col input.disabled {
    color: #666;
}
.sctn-col label {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
}
.sctn-col.x3 {
    width: 300px;
}
.sctn-col.x3.last {
    width: 200px;
}
.sctn-col.x3 input {
    width: 210px;
}
.sctn-col.x3 a {
    float: right;
}
.pymnts-sctn {
    width: 800px;
}
.pymnt-itm {
    margin: 0 0 3px;
    width: 800px;
}
.pymnt-itm h2 {
    background-color: #e9e9e9;
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    padding: 28px 0 28px 20px;
    width: 800px;
}
.pymnt-itm.active h2 {
    background-color: #22DAC3;
    box-sizing: border-box;
    color: #fff;
    cursor: default;
}
.pymnt-itm div.pymnt-cntnt {
    display: none;
}
.pymnt-itm.active div.pymnt-cntnt {
    background-color: #f7f7f7;
    display: block;
    padding: 0 0 30px;
    width: 100%;
}

.pymnt-cntnt div.sctn-row {
    margin: 20px 30px 0;
    width: 740px;
}
.pymnt-cntnt div.sctn-row div.sctn-col {
    width: 345px;
}
.pymnt-cntnt div.sctn-row div.sctn-col.l {
    width: 395px;
}
.pymnt-cntnt div.sctn-row div.sctn-col input {
    width: 303px;
}
.pymnt-cntnt div.sctn-row div.sctn-col.half {
    width: 155px;
}
.pymnt-cntnt div.sctn-row div.sctn-col.half.l {
    float: left;
    width: 190px;
}
.pymnt-cntnt div.sctn-row div.sctn-col.half input {
    width: 113px;
}
.pymnt-cntnt div.sctn-row div.sctn-col.cvv {
    background-image: url("../images/cvv.png");
    background-position: 156px center;
    background-repeat: no-repeat;
    padding-bottom: 30px;
}
.pymnt-cntnt div.sctn-row div.sctn-col.cvv div.sctn-col.half input {
    width: 110px;
}
.openpay {
    float: right !important;
    height: 60px;
    margin: 10px 30px 0 0;
    width: 435px;
}
.openpay div.logo {
    background-image: url("../images/openpay.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    border-right: 1px solid #ccc;
    font-size: 12px;
    font-weight: 400;
    height: 45px;
    padding: 15px 20px 0 0;
}
.openpay div.shield {
    background-image: url("../images/security.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    font-size: 12px;
    font-weight: 400;
    margin-left: 20px;
    padding: 20px 0 0 40px;
    width: 200px;
}
.card-expl {
    float: left;
    height: 80px;
    margin: 20px 0;
    width: 800px;
}
.card-expl div {
    background-position: left 45px;
    background-repeat: no-repeat;
    height: 70px;
    padding-top: 10px;
}
.card-expl div.debit {
    background-image: url("../images/cards2.png");
    margin-left: 20px;
    width: 540px;
}
.card-expl div.credit {
    background-image: url("../images/cards1.png");
    border-right: 1px solid #ccc;
    margin-left: 30px;
    width: 209px;
}
.card-expl h4 {
    font-weight: 400;
    margin: 0;
}

md-radio-group * {
    clear: both !important;
    text-align: left;
}

md-radio-group md-radio-button:not(:first-child) {
    margin-top: 0px !important;
}

.payment-tabs {
    clear: both;
}

.payment-tabs md-tabs-canvas {
    display: none;
}

.payment-tabs .instructions {
    padding: 20px 50px;
}

.payment-tabs .logos {
    clear: both;
    display: block;
    float: none;
    text-align: center;
    width: 100%;
}

.payment-tabs .logos img {
    display: inline-block;
    float: none;
}

.successful-payment .instructions {
    box-sizing: border-box;
    padding: 40px 50px;
    width: 800px;
}

.sctn-col .error-message {
    color: rgb(221, 44, 0);
    font-size: 14px;
    margin-top: 8px;
}

a.action-button {
    cursor: pointer;
    display: block;
    text-decoration: none;
}
a.action-button {
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    padding: 12px 0;
    width: auto;
    display: table;
    background: #22DAC3;
    padding: 8px 16px;
    color: white;
}

.action-button-container {
    text-align: center;
    width: 100%;
}

.action-button-container .action-button {
    display: inline-block;
    float: none;
}