<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Language" content="es-mx">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>VIME | Pagos</title>
    <meta name="description" content="Conoce sobre nuestra clínica, nuestros especialistas y nuestro método efecto para reducir peso en semanas. Te ofrecemos una solución definitiva y duradera">
    <meta name="keywords" content="metodo bajar kilos, doctor bajar peso, clinica df perder peso, bajar peso en semanas, que es vime, metodo vime">
    <link href="favicon.ico" rel="shortcut icon">

    <link rel="stylesheet" href="css/Vime10.css" type="text/css">
    <link rel="stylesheet" href="css/payments.css" type="text/css">
    <link rel="stylesheet" href="app/bower_components/angular-material/angular-material.min.css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://openpay.s3.amazonaws.com/openpay.v1.min.js"></script>
    <script type='text/javascript' src="https://openpay.s3.amazonaws.com/openpay-data.v1.min.js"></script>

    <script src="app/bower_components/angular/angular.min.js"></script>
    <script src="app/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="app/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="app/bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="app/bower_components/angular-material/angular-material.min.js"></script>

    <script src="app/app.module.js"></script>
    <script src="app/components/payments/payments.service.js"></script>
    <script src="app/components/payments/payments.controller.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {

            OpenPay.setId('mlttma1g0lusxgmm9kst');
            OpenPay.setApiKey('pk_25e9eff9fda645308badcfe65d175883');
            OpenPay.setSandboxMode(true);

        });
    </script>

</head>
<body ng-app="vime">
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TK9DWP"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TK9DWP');</script>
<!-- End Google Tag Manager -->

<div id="masterLayer2" style="text-align:center;margin-top:5px;width:100%;height:132px;z-index:12;">
    <div id="masterLayer2_Container" style="width:1300px;position:relative;margin-left:auto;margin-right:auto;text-align:left;">
        <div id="wb_logovime" style="position:absolute;left:50px;top:14px;width:300px;height:98px;z-index:7;">
            <a href="./index.html"><img src="images/Vime_logo.png" id="logovime" alt="VIME - Cl&#237;nica para bajar de peso"></a></div>
        <div id="wb_masterCssMenu1" style="position:absolute;left:518px;top:84px;width:800px;height:28px;z-index:8;">
            <ul>
                <li class="firstmain"><a href="./index.html" target="_self">Inicio</a>
                </li>
                <li><a href="./quien-somos.html" target="_self">Acerca&nbsp;de&nbsp;VIME</a>
                </li>
                <li><a href="./tratamiento-bajar-peso.html" target="_self">Tratamiento</a>
                </li>
                <li><a href="./herramientas.html" target="_self">Herramientas</a>
                </li>
                <li><a href="./pagos.html" target="_self" class="active">Pagos</a>
                </li>
                <li><a href="./contacto.html" target="_self">Contacto/Ubicaci&#243;n</a>
                </li>
            </ul>
            <br>
        </div>
    </div>
</div>
<div id="container">
    <div id="wb_pagosImage1" style="margin-left:70px;margin-top:0px;width:1232px;height:426px;z-index:9;">
        <img src="images/dieta_deliciosa.jpg" id="pagosImage1" alt="dieta para perder peso">
    </div>
</div>
<div id="pagosLayer3" style="text-align:center;left:0px;margin-top:44px;width:100%;z-index:10;">
    <div id="pagosLayer3_Container" style="width:1300px;position:relative;margin-left:auto;margin-right:auto;text-align:left;">

        <div id="wb_pagosText1" style="margin-left:47px;width:503px;height:135px;text-align:right;z-index:3;">
            <span style="color:#8c8c8c;font-family:'futura bk bt';font-size:37px;">Realiza pagos online.<br>¡Es rápido, sencillo y seguro!</span>
        </div>

        <div id="wb_pagosText2" style="width:540px;height:101px;z-index:5;text-align:left;">
            <span class="texto">Aquí puedes pagar tus consultas o productos. <br><br>Selecciona uno de nuestros métodos de pago, llena los datos solicitados y haz click en 'pagar'.</span>
        </div>
    </div>
    <div class="bkng-tb-cntnt" ng-controller="paymentsController as ctrl">

        <div class="pymnts">
            <form action="" method="POST" id="payment-form" name="ctrl.paymentForm" ng-if="!ctrl.showSuccess">
                <input type="hidden" name="token_id" id="token_id">
                <input type="hidden" name="payment_option" id="payment_option">

                <div class="pymnt-itm card active">
                    <h2>Información del cliente</h2>
                    <div class="pymnt-cntnt">
                    <div class="sctn-row">
                        <div class="sctn-col l">
                            <label>Nombre</label>
                            <input type="text" name="name" ng-model="ctrl.customer.name" ng-disabled="ctrl.loading" ng-class="{ 'disabled': ctrl.loading }" required>
                            <div ng-messages="ctrl.paymentForm.name.$error" ng-if="ctrl.paymentForm.name.$touched" md-auto-hide="false">
                                <div ng-message="required" class="error-message">Este campo es requerido</div>
                            </div>
                        </div>
                        <div class="sctn-col">
                            <label>Apellidos</label>
                            <input type="text" name="lastName" ng-model="ctrl.customer.lastName" ng-disabled="ctrl.loading" ng-class="{ 'disabled': ctrl.loading }" required>
                            <div ng-messages="ctrl.paymentForm.lastName.$error" ng-if="ctrl.paymentForm.lastName.$touched" md-auto-hide="false">
                                <div ng-message="required" class="error-message">Este campo es requerido</div>
                            </div>
                        </div>
                    </div>
                    <div class="sctn-row">
                        <div class="sctn-col l">
                            <label>Correo electrónico</label>
                            <input type="email" name="email" ng-model="ctrl.customer.email" ng-disabled="ctrl.loading" ng-class="{ 'disabled': ctrl.loading }" required>
                            <div ng-messages="ctrl.paymentForm.email.$error" ng-if="ctrl.paymentForm.email.$touched" md-auto-hide="false">
                                <div ng-message="required" class="error-message">Este campo es requerido</div>
                                <div ng-message="email" class="error-message">El correo electrónico es inválido</div>
                            </div>
                        </div>
                        <div class="sctn-col">
                            <label>Teléfono</label>
                            <input type="phone" name="phone" placeholder="10 dígitos" ng-model="ctrl.customer.phone" ng-disabled="ctrl.loading" ng-class="{ 'disabled': ctrl.loading }" ng-pattern="/^[0-9]{10}$/" required>
                            <div ng-messages="ctrl.paymentForm.phone.$error" ng-if="ctrl.paymentForm.phone.$touched" md-auto-hide="false">
                                <div ng-message="required" class="error-message">Este campo es requerido</div>
                                <div ng-message="pattern" class="error-message">El teléfono es inválido</div>
                            </div>
                        </div>
                    </div>
                    <div class="sctn-row">
                        <div class="sctn-col l">
                            <label>¿Qué deseas pagar?</label>
                            <md-radio-group ng-model="ctrl.radioButtons.productOption" ng-change="ctrl.updatePaymentDescription()">
                                <md-radio-button value="consultation">Apartado de consulta inicial</md-radio-button>
                                <md-radio-button value="other">Otro</md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>
                    <div class="sctn-row">
                        <div class="sctn-col l">
                            <label>Monto</label>
                            <span style="padding-top: 14px;">$ </span><input type="text" name="amount" ng-model="ctrl.paymentData.amount" ng-disabled="ctrl.disablePaymentDescription() || ctrl.loading" ng-class="{ 'disabled': ctrl.disablePaymentDescription() || ctrl.loading }">
                        </div>
                        <div class="sctn-col">
                            <label>Concepto</label>
                            <input type="text" name="description" ng-model="ctrl.paymentData.description" value="" ng-disabled="ctrl.disablePaymentDescription() || ctrl.loading" ng-class="{ 'disabled': ctrl.disablePaymentDescription() || ctrl.loading }">
                        </div>
                    </div>
                    <div class="sctn-row">
                        <div class="sctn-col l">
                            <label>¿Cómo deseas pagar?</label>
                            <md-radio-group ng-model="ctrl.radioButtons.paymentOption" ng-change="ctrl.updatePaymentOption()">
                                <md-radio-button value="card">Tarjeta de crédito o débito</md-radio-button>
                                <md-radio-button value="store">Tienda de conveniencia (7Eleven, Farmacias del Ahorro, etc)</md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="payment-tabs">
                    <md-content>
                        <md-tabs md-dynamic-height md-border-bottom md-selected="ctrl.selectedPaymentTab">
                            <md-tab label="Tarjeta de crédito o débito">
                                <md-content>
                                    <div class="pymnt-itm card active">
                                        <h2>Tarjeta de crédito o débito</h2>
                                        <div class="pymnt-cntnt">
                                            <div class="card-expl">
                                                <div class="credit"><h4>Tarjetas de crédito</h4></div>
                                                <div class="debit"><h4>Tarjetas de débito</h4></div>
                                            </div>
                                            <div class="sctn-row">
                                                <div class="sctn-col l">
                                                    <label>Nombre del titular</label><input type="text" placeholder="Como aparece en la tarjeta" autocomplete="off" ng-model="ctrl.card.holderName" ng-disabled="ctrl.loading" ng-class="{ 'disabled': ctrl.loading }">
                                                </div>
                                                <div class="sctn-col">
                                                    <label>Número de tarjeta</label><input type="text" autocomplete="off" ng-model="ctrl.card.cardNumber" ng-disabled="ctrl.loading" ng-class="{ 'disabled': ctrl.loading }"></div>
                                            </div>
                                            <div class="sctn-row">
                                                <div class="sctn-col l">
                                                    <label>Fecha de expiración</label>
                                                    <div class="sctn-col half l"><input type="text" placeholder="Mes" ng-model="ctrl.card.expirationMonth" ng-disabled="ctrl.loading" ng-class="{ 'disabled': ctrl.loading }"></div>
                                                    <div class="sctn-col half l"><input type="text" placeholder="Año" ng-model="ctrl.card.expirationYear" ng-disabled="ctrl.loading" ng-class="{ 'disabled': ctrl.loading }"></div>
                                                </div>
                                                <div class="sctn-col cvv"><label>Código de seguridad</label>
                                                    <div class="sctn-col half l"><input type="text" placeholder="3 dígitos" autocomplete="off" ng-model="ctrl.card.cvv2" ng-disabled="ctrl.loading" ng-class="{ 'disabled': ctrl.loading }"></div>
                                                </div>
                                            </div>
                                            <div class="openpay"><div class="logo">Transacciones realizadas vía:</div>
                                                <div class="shield">Tus pagos se realizan de forma segura con encriptación de 256 bits</div>
                                            </div>
                                            <div class="sctn-row" layout="row" layout-align="end center">
                                                <md-progress-circular class="button-loader" md-mode="indeterminate" md-diameter="40" ng-if="ctrl.loading"></md-progress-circular>
                                                <a class="button rght" ng-click="ctrl.processCardPayment()" ng-disabled="ctrl.loading" ng-class="{ 'disabled': ctrl.loading }">Pagar</a>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab>
                            <md-tab label="En tienda">
                                <md-content>
                                    <div class="pymnt-itm card active">
                                        <h2>En tienda</h2>
                                        <div class="pymnt-cntnt">
                                            <p class="instructions">
                                                Para realizar el pago en una tienda de autoservicio es necesario que generes e imprimas tu formato de pago.
                                            </p>
                                            <div class="sctn-row" layout="row" layout-align="end center" style="height: 40px">
                                                <md-progress-circular class="button-loader" md-mode="indeterminate" md-diameter="40" ng-if="ctrl.loading"></md-progress-circular>
                                                <a class="button rght" ng-click="ctrl.processStorePayment()" ng-disabled="ctrl.loading" ng-class="{ 'disabled': ctrl.loading }">Generar formato de pago</a>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content>

                </div>
            </form>
            <div ng-if="ctrl.showSuccess">
                <md-content>
                    <div class="pymnt-itm card active">
                        <h2>¡Recibimos tu pago!</h2>
                        <div class="pymnt-cntnt successful-payment">
                            <p class="instructions">
                                Hemos recibido un pago a tu nombre.<br>Gracias por confiar en nosotros. <br><br>Tu número de referencia es: {{ ctrl.reference }}
                            </p>
                        </div>
                    </div>
                </md-content>
            </div>
        </div>
    </div>
</div>
<div id="masterLayer1" style="text-align:center;width:100%;height:86px;z-index:11;">
    <div id="masterLayer1_Container" style="width:1300px;position:relative;margin-left:auto;margin-right:auto;text-align:left;">
        <div id="wb_masterCssMenu2" style="position:relative;left:294px;top:28px;width:712px;height:29px;text-align:center;z-index:6;">
            <ul>
                <li class="firstmain"><a href="./index.html" target="_self">Acceso&nbsp;Privado</a>
                </li>
                <li><a href="./contacto.html" target="_self">Contacto</a>
                </li>
                <li><a href="./AVISO_LEGAL.pdf" target="_blank">Aviso&nbsp;Legal</a>
                </li>
                <li><a href="./AVISO_DE_PRIVACIDAD.pdf" target="_blank">Aviso&nbsp;de&nbsp;Privacidad</a>
                </li>
            </ul>
            <br>
        </div>
    </div>
</div>

</body>
</html>